input[type='range'] {
	background: #e3e3e3;
	border-radius: 15px;
}

input[type='range']::-webkit-slider-thumb {
	height: 15px;
	width: 15px;
	background-color: #333333;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#333333));
	background-image: -webkit-linear-gradient(top, #666666, #333333);
	background-image: linear-gradient(to bottom, #666666, #333333);
	background-repeat: repeat-x;
	border-radius: 15px;
}

h1 small {
	font-size: 14px;
}